<div class="wrapper">
  <header class="main-header">
    <!-- Logo -->
    <a class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <span class="logo-mini">
        <b>THP</b></span>
      <!-- logo for regular state and mobile devices -->
      <span class="logo-lg"><b>ANGULAR</b></span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
      <!-- Sidebar toggle button-->
      <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>

      <div class="navbar-custom-menu">
        <ul class="nav navbar-nav">
          <!-- User Account: style can be found in dropdown.less -->
          <li class="dropdown user user-menu">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <img src="assets/dist/img/admin.png" class="user-image" alt="User Image">
              <span class="hidden-xs">FERNANDO ZAPATA</span>
            </a>
            <ul class="dropdown-menu">
              <!-- User image -->
              <li class="user-header">
                <img src="assets/dist/img/admin.png" class="img-circle" alt="User Image">
                <p> FERNANDO ZAPATA </p>
              </li>
            </ul>
          </li>
          <!-- Control Sidebar Toggle Button -->
          <li>
            <a data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
          </li>
        </ul>
      </div>
    </nav>
  </header>

  <!-- =============================================== -->

  <!-- Left side column. contains the sidebar -->
  <aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
      <!-- Sidebar user panel -->
      <div class="user-panel">
        <div class="pull-left image">
          <img src="assets/dist/img/admin.png" class="img-circle" alt="User Image">
        </div>
        <div class="pull-left info">
          <p>Fjzapata</p>
          <a href="#">
            <i class="fa fa-circle text-success"></i> Online</a>
        </div>
      </div>
      <ul class="sidebar-menu" data-widget="tree">
        <li class="header">Menú Navegación</li>
        <li class="treeview" routerLinkActive="active menu open">
          <a>
            <i class="fa fa-users"></i>
            <span> Lista Clientes</span>
          </a>
        </li>
      </ul>
    </section>
    <!-- /.sidebar -->
  </aside>

  <!-- =============================================== -->

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <section class="content-header">
      <div class="row">
        <div class="col-md-6">
          <h4>Listado de Clientes</h4>
        </div>
        <div class="col-md-6 ">
          <button type="button" (click)="showModal_addItem()" class="btn btn-info pull-right">
            <i class="fa fa-plus-circle"></i> AGREGAR ITEM
          </button>
        </div>
      </div>
    </section>
    <!--  -->
    <section class="content">
      <div class="row">
        <div class="col-xs-12">
          <div class="box">
            <div class="box-body table-responsive">
              <!--  -->
              <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>Item</th>
                    <th>Documento</th>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Fecha Nacimiento</th>
                    <th>Acción</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let cliente of ArrayCliente; let i=index">
                    <td>{{ cliente.id }}</td>
                    <td>{{ cliente.data.cli_documento }}</td>
                    <td>{{ cliente.data.cli_nombre }}</td>
                    <td>{{ cliente.data.cli_apellido }}</td>
                    <td>{{ cliente.data.cli_fechanacimiento }}</td>
                    <td>
                      <button type="button" id="edit" class="btn btn-primary btn-sm"><i class="fa fa-edit"></i></button>&nbsp;
                      <button type="button" id="delete" class="btn btn-danger btn-sm"><i class="fa fa-trash"></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- CREAR CITA -->
  <div class="modal fade" #modalitem data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <form (ngSubmit)="Guardar_Item(formsavecita);" #formsavecita="ngForm" novalidate id="form_savecitas"
          method="post" enctype="multipart/form-data">
          <div class="modal-header bg-green color-palette">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title text-center"> AGREGAR/ACTUALIZAR </h4>
          </div>
          <div class="modal-body">
            <div class="row form-group">
              <div class="col-xs-6 col-sm-6 col-md-6">
                <label for="">Nombre:</label>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Nombre" name="cli_nombre"
                    [ngModel]="dataCli?.cli_nombre" [value]="dataCli?.cli_nombre" [readonly]="inputDisabled" autocomplete="off" required>
                    <span class="input-group-addon"> <i class="fa fa-edit"></i></span>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <label for="">Apellidos:</label>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Nombre" name="cli_apellido"
                    [ngModel]="dataCli?.cli_apellido" [value]="dataCli?.cli_apellido" [readonly]="inputDisabled" autocomplete="off" required>
                  <span class="input-group-addon"> <i class="fa fa-edit"></i></span>
                </div>
              </div>
            </div>
            <!--  -->
            <div class="row form-group">
              <div class=" col-sm-6 col-md-6">
                <label for="">Tipo Documento:</label>
                <div class="input-group">
                  <select class="form-control" name="cli_tipodocumento"
                  [ngModel]="dataCli?.cli_tipodocumento" [value]="dataCli?.cli_tipodocumento" required>
                    <option value="1" selected>Cédula de Ciudadanía</option>
                    <option value="2">Cédula de Extranjería</option>
                    <option value="3">Pasaporte</option>
                    <option value="4">Carné Diplomático</option>
                  </select>
                  <span class="input-group-addon"> <i class="fa fa-edit"></i></span>
                </div>
              </div>
              <div class="col-xs-6 col-sm-6 col-md-6">
                <label for="">Número Documento:</label>
                <div class="input-group">
                  <input type="text" class="form-control" placeholder="Número Documento" name="cli_documento"
                    [ngModel]="dataCli?.cli_documento" [value]="dataCli?.cli_documento" autocomplete="off" required>
                  <span class="input-group-addon"> <i class="fa fa-edit"></i></span>
                </div>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-12">
                <label for="">Fecha Nacimiento:</label>
                <div class="input-group">
                  <input type="date" class="form-control" placeholder="Fecha Nacimiento" name="cli_fechanacimiento"
                    [ngModel]="dataCli?.cli_fechanacimiento" [value]="dataCli?.cli_fechanacimiento" required>
                  <span class="input-group-addon"> <i class="fa fa-calendar"></i></span>
                </div>
              </div>
            </div>
            <div class="row form-group">
              <div class="col-md-12">
                <label for="">Observación:</label>
                <textarea name="cli_observacion" [ngModel]="dataCli?.cli_observacion" [value]="dataCli?.cli_observacion" cols="30" rows="5" placeholder="Observación" class="form-control"></textarea>
              </div>
            </div>
            <!--  -->
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-dismiss="modal">
              <i class="fa fa-times"></i>&nbsp;CERRAR
            </button>
            <button type="submit" [disabled]="formsavecita.invalid" class="btn btn-info">
              <i class="fa fa-save"></i>&nbsp;GUARDAR DATOS
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <footer class="main-footer">
    <div class="pull-right hidden-xs">
      <b>Version</b> 0.1
    </div>
    <strong>Copyright © 2019. Fernando Zapata Acuña<a href="javascritp:void(0);"></a>.</strong>
  </footer>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
</div>